# LiveKit
LIVEKIT_API_KEY=xxxxx
LIVEKIT_API_SECRET=xxxxx
LIVEKIT_URL=wss://xxxxx.livekit.cloud

# Cloudflare
CF_R2_ENDPOINT=https://<YOUR_ACCOUNT_ID>.r2.cloudflarestorage.com
CF_R2_ACCESS_KEY_ID=<YOUR_ACCESS_KEY_ID>
CF_R2_SECRET_ACCESS_KEY=<YOUR_SECRET_ACCESS_KEY>
CF_R2_BUCKET_NAME=playtogether-media
